@model CBApplication.Core.Models.Customer
@{
    ViewBag.Title = "Edit Customer Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">
    @Html.ActionLink("Back to List", "Index",null,new{@class="fa fa-arrow-left btn btn-primary btn-flat"})
</div>

@using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new { @class = "form-horizontal col-md-5 col-md-offset-4 card-box display", id = "edit" }))
{
    <h4>@ViewBag.Title</h4>
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        <div class="">
            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", id = "fullname", placeholder = "Full Name" } })
            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="">
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", id = "address", placeholder = "Address" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", id = "phoneNumber", placeholder = "PhoneNumber" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", id = "email", placeholder = "@Email.Com" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="">
            @Html.DropDownListFor(model=>model.Gender, new[] {
               new SelectListItem() { Text = "Female", Value = "Female" },
               new SelectListItem() { Text = "Male", Value = "Male" } },
"Select Gender", new { @class = "form-control", id = "gender" })
            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="">
            <input type="submit" value="Save" class="btn btn-primary btn-flat" />
        </div>
    </div>

   
}

@section ViewSpecificJavascript
{
    <script>
        $(document).ready(function() {
            $("#edit").submit(function(e) {
                var email = $("#email").val();
                var fullName = $("#fullname").val();
                var gender = $("#gender").val();
                var address = $("#address").val();
                var phoneNumber = $("#phoneNumber").val();

                $(".error").remove();

                if ($("#edit").submit) {
                    $("form *").removeClass("error-box");
                }

                if (fullName.length < 1) {
                    $("#fullname").addClass("error-box");
                    $("#fullname").after('<span class="error">This Field is Required</span>');
                    e.preventDefault();

                } else {
                    var regExp = /^[A-Za-z]+( [a-zA-Z]+)*$/;

                    var validName = regExp.test(fullName);
                    if (!validName) {
                        $("#fullname").addClass("error-box");
                        $('#fullname').after('<span class="error">Enter a valid name</span>');
                        e.preventDefault();
                    }
                }

                if (gender.length < 1) {
                    $("#gender").addClass("error-box");
                    $("#gender").after('<span class="error">This Field is Required</span>');
                    e.preventDefault();
                }

                if (address.length < 1) {
                    $("#address").addClass("error-box");
                    $("#address").after('<span class="error">This Field is Required</span>');
                    e.preventDefault();

                } else {
                    var regExps = /^[A-Za-z]+( [a-zA-Z]+)*$/;

                    var validusername = regExps.test(address);
                    if (!validusername) {
                        $("#username").addClass("error-box");
                        $('#username').after('<span class="error">Enter a valid name</span>');
                        e.preventDefault();

                    }
                }
                if (phoneNumber.length < 1) {
                    $("#phoneNumber").addClass("error-box");
                    $("#phoneNumber").after('<span class="error">This Field is Required</span>');
                    e.preventDefault();

                } else {
                    var regExp = /^[+(0-9)]*$/;

                    var validNumber = regExp.test(phoneNumber);
                    if (!validNumber) {
                        $("#phoneNumber").addClass("error-box");
                        $('#phoneNumber').after('<span class="error">Enter a valid PhoneNumber</span>');
                        e.preventDefault();

                    }
                }

                if (email.length < 1) {
                    $("#email").addClass("error-box");
                    $("#email").after('<span class="error">This Field is Required</span>');
                    e.preventDefault();

                } else {
                    var regEx =
                        /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                    var validEmail = regEx.test(email);
                    if (!validEmail) {
                        $("#email").addClass("error-box");
                        $('#email').after('<span class="error">Enter a valid email</span>');
                        e.preventDefault();

                    }
                }
            });
        })
    </script>
}
